body {
    font-family: 'Roboto', sans-serif;
    background-color: #eadddd;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.page {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

#login-page, #signup-page, #notes-page {
    text-align: center;
}

#login-page h1, #signup-page h1, #notes-page h1 {
    color: #333;
}

#login-form, #signup-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #555;
}

input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 100%;
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: #870e0e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #870e0e;
}

#notes-page textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#notes-page button {
    background-color: #870e0e;
}

#notes-page button:hover {
    background-color: #870e0e;
}

#notes-page ul {
    list-style: none;
    padding: 0;
}

#notes-page li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ecf0f1;
    border-radius: 5px;
}

.delete-btn {
    background-color: #870e0e;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #870e0e;
}

.note {
    background-color: #f8f8f8;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
    text-align: left;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert li {
    list-style-type: none;
}

.alert li::before {
    content: "•";
    color: #721c24;
    margin-right: 5px;
}
